<acl>
  <page-services-opnsensehub>
    <name>Services: OPNsense Hub</name>
    <patterns>
      <pattern>ui/opnsensehub</pattern>
      <pattern>ui/opnsensehub/</pattern>
      <pattern>ui/opnsensehub/*</pattern>
      <pattern>api/opnsensehub/*</pattern>
    </patterns>
  </page-services-opnsensehub>
</acl>
